---
import MainLayout from '../layouts/MainLayout.astro';
import {
  myName,
  myBio,
  navLinks,
  selectedProjects,
  aboutMe,
  skills,
  workExperiences,
  writingText,
  contactText,
  contactOptions,
  clientLogos,
} from '../data';
import AboutSection from '../components/sections/AboutSection.astro';
import MainSection from '../components/sections/MainSection.astro';
import BlogSection from '../components/sections/BlogSection.astro';
import Footer from '../components/Footer.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import LogoSlider from '../components/LogoSlider';
---

<MainLayout>
  <MainSection
    navLinks={navLinks}
    myName={myName}
    myBio={myBio}
    selectedProjects={selectedProjects}
  />
  <section class="w-full bg-slate-50 border-y border-slate-200">
    <LogoSlider logos={clientLogos} client:load />
  </section>
  <AboutSection
    aboutMe={aboutMe}
    skills={skills}
    workExperiences={workExperiences}
  />
  <BlogSection writingText={writingText} />
  <ContactSection contactText={contactText} contactOptions={contactOptions} />
  <Footer navLinks={navLinks} />
</MainLayout>
